{% extends "base.html" %}
{% load key %}
{% block content %}
<div class="container">
{% for k in schedule.schedule %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-hover checkins-table" cellspacing="0">
        <caption>{{ k }}</caption>
        <colgroup>
          <col style="background-color:#e9631a">
          <col style="background-color:#cb9e4380">
          <col style="background-color:#7f95a566">
          <col style="background-color:#cb9e4380">
          <col style="background-color:#7f95a566">
          <col style="background-color:#cb9e4380">
          <col style="background-color:#7f95a566">
          <col style="background-color:#cb9e4380">
        </colgroup>
        {% for day in schedule.schedule|key:k %}
          <tr>
            <td style="text-transform: capitalize;">{{day}}</td>
            {% for course in schedule.schedule|key:k|key:day %}
              <td>{{course}}</td>
            {% endfor %}
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
